<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>BEEVA</title>
    <link rel="stylesheet" type="text/css" href="css/myapp.css">
  </head>
  <body>
    <div id="header" class="container">
        <h1>BEEVA</h1>
        <a href="#">List</a> | <a href="#add">New user</a>
    </div>
    <br/>
    <div id="content" class="container">
      {{{body}}}
    </div>

    <script type="text/javascript" src="js/myapp.js"></script>
  </body>
</html>
