<div class="user_full">
    <strong>Full name:</strong> {{fullName}}<br/>
    <strong>Email:</strong> {{email}}<br/>
    <strong>Age:</strong> {{age}}<br/>
    <strong>Zip:</strong> {{zip}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete</a>
